.component-margin {
    margin-top: 10px;
}

.relative-container {
    position: relative;
  }
  
.absolute-container {
    position: absolute;
    right: 0;
    top: -2.5rem;
}

/* overlay for tutorial */
.v-tour__target--highlighted {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.4);
  }