#homebody {
  min-height: 100vh;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
  }
  
.fill-top {
min-height: 18rem;
}

.relative-container {
  position: relative;
}

.absolute-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.dark {
  background: rgba(18,18,18);
  color: white;
}

#homepage {
  transition: background 0.3s ease-in-out;
}

img {
  padding-top: 1rem;
}

.invert_effect {
  filter: invert(100%); 
}