#loading {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#spinner-group {
    min-width: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}